<%= form_with(model: poll_question) do |form| %>
  <% if poll_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(poll_question.errors.count, "error") %> prohibited this poll_question from being saved:</h2>

      <ul>
        <% poll_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question_type, style: "display: block" %>
    <%= form.text_field :question_type %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
