<%= form_with(url: poll_poll_questions_path(poll_id: @poll, id: poll_question.id), model: poll_question, id: "new_question_form") do |form| %>
  <% if poll_question.errors.any? %>
    <div style="color: red">
      <ul>
        <% poll_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "card mt-3">
    <div class= "card-body">
      <div>
        <%= form.label :question_type, style: "display: block" , class:"form-label"%>
        <%= form.select(:question_type, options_for_select(["Multiple Choice", "Yes No", "Input"]), {},{class:"form-select"} )%>

      </div>

      <div>
        <%= form.label :content, "Question Content", style: "display: block", class: "form-label"%>
        <%= form.text_area :content, class:"form-control", rows: 2%>
      </div>

      <div>
        <%= form.submit class: "mt-2 btn btn-dark"%>
      </div>
    </div>
  </div>
</div>
<% end %>
