<div class="form-group">
    <%if poll_question.question_type == "Input"%>

        <legend for="question_<%=poll_question.id%>"><%=poll_question.content %></legend>
        <input type="text" class="form-control" id="question_<%=poll_question.id%>" name="question_<%=poll_question.id%>" required>

    <%else%>

        <legend class="form-label"><%=poll_question.content%></legend>

        <!-- This can be modified where if poll_answers > 4 it creates a dropdown instead -->
        <% poll_question.poll_answers.each do |poll_answer| %>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question_<%=poll_question.id%>" id="poll_answer_<%=poll_answer.id%>" value="poll_answer_<%=poll_answer.id%>" required>
                <label class="form-check-label" for="poll_answer_<%=poll_answer.id%>"><%=poll_answer.content%></label>
            </div>
        <% end %>    
    
    <%end%>
</div>