<div id="<%= dom_id poll_question %>" class="card mt-3">

  <div class="card-body">
    <div class="d-flex card-header justify-content-end"><i data-*= "<%=poll_question.id%>" class="question-del fa-solid fa-xmark"></i></div>
    <div class="card-title">
      <p style="font-size: 20px;">
        <% if poll_question.question_type == "Yes No"%>
          <i class="fa fa-question-circle" aria-hidden="true" style="display: inline;"></i>
        <%end%>
        <% if poll_question.question_type == "Input" %>
          <i class="fa fa-comments-o" aria-hidden="true" style="display: inline;"></i>
        <%end%>
         <% if poll_question.question_type == "Multiple Choice"%>
          <i class="fa fa-clipboard-question" aria-hidden="true" style="display: inline;"></i>
        <%end%>
        <%= poll_question.content %> 

         <% if poll_question.question_type == "Multiple Choice" %>
          <a class="btn btn-sm card-link show_answers" data-bs-toggle="collapse" data-bs-target="#poll_answers<%= poll_question.id %>" role="button" aria-expanded="false" aria-controls="poll_answers<%= poll_question.id %>"><i class="fa-solid fa-minus"></i></a>
        <%end%>
      </p>
    </div>

    <div class="card-text">
        <% if poll_question.question_type == "Multiple Choice" %>
        <div class="container">
          <div id="poll_answers<%= poll_question.id %>" class="collapse show">
                <% poll_question.poll_answers.each do |poll_answer| %>
                  <%= render poll_answer %>
                <% end %>
                <div id="create_answer">
                  <a class="new_answer_btn" href="<%= new_poll_answer_path(:poll_id => poll_question.poll_id, :question => poll_question)%>" data-remote="true"><i class="fa-solid fa-plus add_ac"></i>Add Answer Choice</a>
                </div>
          </div>
        </div>
      
        <%end%>

        <%= button_to "delete question", poll_question, :method => "delete", :class => "btn btn-dark btn-sm mt-3"%>
        <%= link_to "Show this poll question", poll_question_path(poll_question) %>
    </div>


  </div>

</div>
