<div class="form-group">

    <!-- Change to helper function! -->
    <%@poll_vote = poll_question.poll_votes.where(user_id: session[:user_id]).first %>

    <%if poll_question.question_type == "Input"%>

        <legend for="question_<%=poll_question.id%>"><%=poll_question.content %></legend>
        <input type="text" class="form-control" id="question_<%=poll_question.id%>" name="question_<%=poll_question.id%>"
        value="<%= @poll_vote ? @poll_vote.response : nil %>" required>

    <%else%>

        <legend class="form-label"><%=poll_question.content%></legend>

        <!-- This can be modified where if poll_answers > 4 it creates a dropdown instead -->
        <% poll_question.poll_answers.each do |poll_answer| %>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question_<%=poll_question.id%>" id="poll_answer_<%=poll_answer.id%>" value="poll_answer_<%=poll_answer.id%>"
                <%= @poll_vote && @poll_vote.poll_answer_id == poll_answer.id ? "checked" : nil %> required>

                <label class="form-check-label" for="poll_answer_<%=poll_answer.id%>"><%=poll_answer.content%></label>
            </div>
        <% end %>    
    
    <%end%>
</div>