<div id="<%= dom_id poll_question %>">
  <p>
    <strong>Question Type:</strong>
    <%= poll_question.question_type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= poll_question.content %>
  </p>


  <% if !poll_question.poll_answers.empty? %>
    <div id="poll_answers" class="container">
          <% poll_question.poll_answers.each do |poll_answer| %>
            <%= render poll_answer %>
          <% end %>
    </div>
  <%end%>

  <% if poll_question.question_type == "Multiple Choice" %>
    <div id="create_answer" class="container">
      <%= link_to "Add answer choice", new_poll_answer_path(:poll_id => poll_question.poll_id, :question => poll_question) %>
    </div>
  <%end%>


</div>
