<p style="color: green"><%= notice %></p>

<%= render @poll_question %>

<div>
  <%= link_to "Edit this poll question", edit_poll_question_path(@poll_question) %> |
  <%= link_to "Back to poll", poll_path(@poll) %>

  <%= button_to "Destroy this poll question", @poll_question, method: :delete %>
</div>
