<%= form_with(model: poll) do |form| %>
  <% if poll.errors.any? %>
    <div style="color: red">

      <ul>
        <% poll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary %>
  </div>

  <div>
    <%= form.label :publish, style: "display: block" %>
    <%= form.check_box :publish %>
  </div>

  <div>
    <%= form.label :ends_at, style: "display: block" %>
    <%= form.datetime_field :ends_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
