
<div id="<%= dom_id poll %>">
  <p>
    <strong>Title:</strong>
    <%= poll.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= poll.summary %>
  </p>

  <p>
    <strong>Opened:</strong>
    <%= poll.opened %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= poll.ends_at %>
  </p>

</div>
