<% if results_closed %>
<%= render partial: 'polls/helpers/results_closed'%>
<% else %>
<div class="container">

  <div class="card mt-3 mb-5">
        <div class="card-header" style="background: #212529;"></div>
        <div class="card-body">
            <h1 class="card-title">Responses</h1>
            <p class="card-text">Number of respondents: <%= @poll.poll_votes.distinct.pluck(:user_id).length %></p>
            <%if @is_users%>
            <div id="poll_download">
              <p>Download Results: </p>
              <a href='<%=poll_download_json_path(@poll.invite_token)%>.json' id="download_json_results" class = "btn btn-dark"><i class = "fa-solid fa-file-code"></i></a>
            </div>
            <%end%>
        </div>
  </div>

  <div id="poll_graphs">
    <% @poll_graphs.each do |poll_graph| %>

        <%questions = poll_graph.questions.split(',').map(&:to_i)%>
        <%question_titles = PollQuestion.find(questions).pluck("content")%>
        
        <%if questions.length == 1 && poll_graph.graph_type != "Yes no beeswarm graph"  && poll_graph.graph_type != "Yes no bar graph"
          poll_question = PollQuestion.find(questions[0]) 
        else
          poll_question = nil
        end %>
        <%= render partial: "poll_graphs/poll_question_div", locals: {poll_question: poll_question, poll_graph: poll_graph, votes: @poll.poll_votes.length, question_titles: question_titles, is_users: @is_users}%>

    <% end %>
  </div>

  
  <%if @is_users%>
  <button id="add_graph_btn" class="btn btn-dark mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#addGraphModal">Add a Graph</button>
  <%end%>

  <div class="modal" id="addGraphModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a Graph</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="addGraphForm" action="<%=graphs_create_url(@poll.id)%>.js" data-remote="true" method="post">
          <div class="modal-body">
            <%= render partial: "poll_graphs/add_graph_form", locals: { poll_questions: @poll_questions }%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="create_graph_submit" type="submit" class="btn btn-dark btn-primary">Create Graph</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div id="ready"></div>

<%end%>
