<div class="container">
  <p style="color: green"><%= notice %></p>
</div>

<div class="container mb-5">
  <%= render @poll %>
</div>

<div class="container">
  
  <div id="poll_questions">
    <% @poll_questions.each do |poll_question| %>
    <%= render poll_question %>
    <% end %>
  </div>
</div>


<div class="container">
  <button type="button" id="new_question_btn">Add a Question</button>
  <%= button_to "Destroy this poll", @poll, method: :delete %>
</div>


<div class="container">
  <%= link_to "Edit this poll", edit_poll_path(@poll) %> |
  <%= button_to "Destroy this poll", @poll, method: :delete %>
</div>
