<p style="color: green"><%= notice %></p>

<div class="container">
  <%= link_to "Edit this poll", edit_poll_path(@poll) %> |
  <%= link_to "Back to polls", logged_in_path %>

  <%= button_to "Destroy this poll", @poll, method: :delete %>
</div>
<div class="container">
  <%= render @poll %>
</div>
