<div class="container">
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse<%= @poll.id%>" role="button" aria-expanded="false" aria-controls="collapse<%= @poll.id%>">Share Poll!</a>
  <div id="collapse<%= @poll.id %>" class="collapse">
    <div class="card-body">
      <div class="invite-box" data-controller="invite">
        <h5 class="mb-1">Invite Link:</h5>
        <input class="poll-url input" id="cb-link-field" type="text" value="<%= form_url(@poll.invite_token) %>" data-target="invite.url" data-group-token="<%= @poll.invite_token %>" style="width: 40%;"/>
        <div class="card-body__btns mt-2">
          <button id="regenerate-btn" class="btn btn-outline-primary">Regenerate</button>
          <button class="btn btn-primary" data-action="click->invite#copy">Copy Link</button>
          <button class="btn btn-primary" data-action="click->invite#copy">Email Invite</button>
        </div>
      </div>
      <div class="qr-box">
        <div class="card-body__btns mt-2">
          <a id="qr-btn" href="<%= form_qr_url(@poll.invite_token) %>">QR code</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p style="color: green"><%= notice %></p>
</div>
<div class="container">
  <%= render @poll %>
</div>
<div class="container">
  
  <div id="poll_questions">
    <% @poll_questions.each do |poll_question| %>
    <%= render poll_question %>

    <p>
      <%= link_to "Show this poll question", poll_question_path(poll_question) %>
    </p>
    <% end %>
    <%= button_to "Add a question", new_poll_poll_question_path(@poll), method: :get%>
  </div>
</div>
<div class="container">
  <%= link_to "Edit this poll", edit_poll_path(@poll) %> |
  <%= link_to "Back to polls", logged_in_path %>
  <%= button_to "Destroy this poll", @poll, method: :delete %>
</div>
