<div id="<%= dom_id api_key %>">
  <p>
    <strong>Key val:</strong>
    <%= api_key.key_val %>
  </p>

  <p>
    <strong>U:</strong>
    <%= api_key.u_id %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= api_key.purpose %>
  </p>

  <p>
    <strong>In request mode:</strong>
    <%= api_key.in_request_mode %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= api_key.accepted %>
  </p>

</div>
