<div id="<%= dom_id api_key %>">
  <p>
    <strong>Permissions:</strong>
    <br>
    <%= label :set_edit, 'Create New Polls: ' %>
    <%= api_key.create_key %>
    <br>
    <%= label :set_edit, 'Delete Existing Polls: ' %>
    <%= api_key.delete_key %>
    <br>
    <%= label :set_edit, 'Extract Data from Existing Polls: ' %>
    <%= api_key.extract_key %>
    <br>
    <%= label :set_edit, 'Edit Existing Polls: ' %>
    <%= api_key.edit_key %>
    <br>
  </p>

  <% if api_key.accepted %>
  <p>
    <strong>API Token:</strong>
    <%= api_key.api_token %>
  </p>
  <% else %>
  <p>
    <strong>In req mode:</strong>
    <%= api_key.in_req_mode %>
  </p>
  <% end %>

  <p>
    <strong>Accepted:</strong>
    <%= api_key.accepted %>
    </p>

  <p>
    <strong>Explanation:</strong>
    <%= api_key.explanation %>
  </p>

</div>
