<div id="<%= dom_id api_key %>">
  <p>
    <strong>Purpose:</strong>
    <%= api_key.purpose %>
  </p>

  <p>
    <strong>In req mode:</strong>
    <%= api_key.in_req_mode %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= api_key.accepted %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= api_key.explanation %>
  </p>

</div>
