<p style="color: green"><%= notice %></p>

<%= render @api_key %>

<div>
  <%= link_to "Edit This API Key", edit_api_key_path(@api_key) %> |
  <%= link_to "Back to API Keys", api_keys_path %>

  <%= button_to "Destroy This API Key", @api_key, method: :delete %>
</div>
