<%= form_with(model: poll_answer, id: "new_answer_form") do |form| %>
  <% if poll_answer.errors.any? %>
    <div style="color: red">
      <ul>
        <% poll_answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, "Answer Content", style: "display: block", class: "form-label mt-2"%>
    <%= form.text_area :content, class:"form-control", rows: 1%>
  </div>

  <div>
    <%= hidden_field_tag(:question, poll_question.id) %>
    <%= hidden_field_tag(:poll_id, poll_question.poll_id) %>
    <%= form.submit class: "mt-2 btn btn-dark btn-sm"%>
  </div>
<% end %>
