<p style="color: green"><%= notice %></p>

<%= render "poll_answer", :poll_answer => @poll_answer %>

<div>
  <%= link_to "Edit this poll answer", edit_poll_answer_path(@poll_answer) %> |
  <%= link_to "Back to poll answers", poll_answers_path %>

  <%= button_to "Destroy this poll answer", @poll_answer, method: :delete %>
</div>
