<% if poll_question != nil %>

    <%if votes != 0%>   
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-title" style="font-size: 20px;"><%=poll_question.content%></p>
                    <div class="d-flex poll_question_results justify-content-center" 
                    id="<%=poll_graph.id%>" 
                    data-path="<%= poll_question_results_url(poll_question.id)%>" 
                    data-graph-type="<%=poll_graph.graph_type%>"
                    <%if poll_question.question_type == "Input"%>style="height: 300px; overflow: scroll;"<%end%>>
                    </div>
            </div>
        </div>

    <%else%>
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-title" style="font-size: 20px;"><%=poll_question.content%></p>
                <p class="card-text">No responses</p>
            </div>
        </div>
    <% end %>
<% else %>
    <%if votes != 0%>   
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-title" style="font-size: 20px;"><%=poll_graph.graph_type%></p>
                    <div class="d-flex poll_question_results justify-content-center" 
                    id="<%=poll_graph.id%>" 
                    data-path="<%= yes_no_graph_results_url(poll_graph.questions, poll_graph.poll.id)%>" 
                    data-graph-type="<%=poll_graph.graph_type%>"
                    >
                    </div>
            </div>
        </div>

    <%else%>
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-title" style="font-size: 20px;"><%=poll_graph.graph_type%></p>
                <p class="card-text">No responses</p>
            </div>
        </div>
    <% end %>

<% end %>
