<!-- User create polls--->
<div class="h-100 container">
    <p style="color: red"><%= flash[:warning] %></p>
    <div>
        <h2> My Polls </h2>
        <%= link_to "New poll", new_poll_path %>
    </div>

    <!-- Show user polls -->
    <p style="color: green"><%= notice %></p>

    <%= link_to "testing", directory_path(), remote: true %>
    <!-- Show directory -->
    <div id="polls" class="container h-50">
    <%= render partial: "show_directory", locals: {polls: @polls} %>
    </div>


    <h1>Participated Polls </h1>
    <div id="polls">
    <% @user.poll_votes.select(:poll_id).distinct(:poll_id).each do |poll_vote| %>
        
        <p>
            <strong>Title:</strong>
            <%= poll_vote.poll.title %>
        </p>

        <p>
            <strong>Summary:</strong>
            <%= poll_vote.poll.summary %>
        </p>
        <%= link_to "Go to poll form", form_url(poll_vote.poll.invite_token) %>
        </p>
    <% end %>
    </div>

</div>
