<!-- User create polls--->
<div class="h-100 container">
    <p style="color: red"><%= flash[:warning] %></p>
    <p style="color: green"><%= notice %></p>

    <div>
        <h2> My Polls </h2>
    </div>


    <!-- Show directory / polls -->
    <div id="directory" class="container h-50">
    
        <div id="directory_nav" class="row mb-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 py-2">
                <div class="container-fluid p-0 px-2">
                <i><%= link_to "", directory_home_path(), remote: true, class: "navbar-brand fa-solid fa-house" %></i>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <%# <button class="btn btn-outline-light" type="submit">Search</button> %>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <%= link_to "New Poll", new_poll_path, class: "nav-link"%>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new_directory_link" href="javascript:;">New Directory</a>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>        
        </div>

        <!-- DISPLAY DASHBOARD -->
        <div id="directories">
            <%= render partial: "directories/show_directories", locals: {children: @children} %>
        </div>
        <div id="polls">
            <%= render partial: "directories/show_polls", locals: {polls: @polls} %>
        </div>
    </div>


    <h2 class="mt-4">Participated Polls </h2>
    <div id="participated_polls">
    <% @user.poll_votes.select(:poll_id).distinct(:poll_id).each do |poll_vote| %>
        
        <p>
            <strong>Title:</strong>
            <%= poll_vote.poll.title %>
        </p>

        <p>
            <strong>Summary:</strong>
            <%= poll_vote.poll.summary %>
        </p>
        <%= link_to "Go to poll form", form_url(poll_vote.poll.invite_token) %>
        </p>
    <% end %>
    </div>

</div>
