<!DOCTYPE html>
<html>
  <head>
    <title>Episkop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "logged"%>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "graphs" %>
    <script src="https://kit.fontawesome.com/ea332b4b56.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <!-- Logged in navigation bar -->
    <%= render "logged_navigation"%>
    <%= yield %>
  </body>
</html>